body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 200px 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    grid-row: 1/ span 1;
    grid-column: 1/ span 2;
    text-align: left;
    font-size: 100px;
    font-weight: 800;
    padding: 5% 0 0 5%;
    margin: auto 0;
}

p {
    font-size: 45px;
}
input[type=checkbox]{
    transform: scale(4);
    width: 60px;
    -ms-transform: scale(4);
    -webkit-transform: scale(4);
    padding: 10px;
    /*position: relative;*/
    display: block;
    vertical-align: center;
}

label{
    font-size: 45px;
    padding-left:26px;

}

img {
    width: 60px;
    margin: auto 0;
    padding-left: 10px;
    padding-right: 20px;
}

.list-box {
    text-align: center;
    width: 100%;
}
.boxes {
    display: flex;
    width: 90vw;
    align-items: center;
    padding: 1em 2em 1em;
    border-bottom: 1px solid black;
    box-shadow: 4px 8px 8px rgba(102, 188, 209, 0.305);
    margin: 50px auto 0;
    background-color: rgb(140, 171, 241);
    border-radius: 10px;
}

#addTask {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    border-width: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
    align-self: center;
}

#button1 {
    grid-row: 4/ span 1;
    grid-column: 1/ span 2;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    padding-bottom: 50px;

}

#checkboxes{
    margin-top: 20px; 
}