body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    border-width: 1px;
    padding: 4px;
    background-color: white;
}

.sign-out-button{
    background-color: white;
    margin: 20px 20px 0px 0px;
    padding: 5px 10px 5px 10px;
}

.sign-out-container{
    float: right;
}

h1 {
    grid-row: 1/ span 1;
    grid-column: 1/ span 2;
    text-align: left;
    font-size: 42px;
    font-weight: 800;
}

.priority-img{
    width: 10px;
    padding: 1px;
}

input[type=checkbox] {
    transform: scale(1.5);
    width: 40px;
    display: block;
    vertical-align: center;
}

label {
    font-size: 20px;

}

.priority-label{
    font-size: 12px;
}

img {
    width: 20px;
    margin: auto 0;
    padding-left: 10px;
    padding-right: 20px;
}

.boxes {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid black;
    margin: 10px auto 0;
    box-sizing: border-box;
}
.boxes-blue{
    font-weight: 400;
    box-shadow: 2px 4px 4px rgba(46, 75, 82, 0.305);
    background-color: #8cabf1;
    border-radius: 10px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5%;
}
body {
     font-family: 'Montserrat', sans-serif;
     display: grid;
     grid-template-rows: 100px 1fr 1fr;
     grid-template-columns: 1fr;
     height: 100vh;
     width: 100vw;
     margin: 0;
 }

button {
    font-family: 'Montserrat', sans-serif;
}



h1 {
    grid-row: 1/ span 1;
    grid-column: 1/ span 2;
    text-align: left;
    font-size: 42px;
    font-weight: 800;
}

.priority-img{
    width: 10px;
    padding: 1px;
}

input[type=checkbox] {
    transform: scale(1.5);
    width: 40px;
    display: block;
    vertical-align: center;
}

label {
    font-size: 20px;

}

.priority-label{
    font-size: 12px;
}

img {
    width: 20px;
    margin: auto 0;
    padding-left: 10px;
    padding-right: 20px;
}

.boxes {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid black;
    margin: 10px auto 0;
    box-sizing: border-box;
}
.boxes-blue{
    font-weight: 400;
    box-shadow: 2px 4px 4px rgba(46, 75, 82, 0.305);
    background-color: rgb(140, 171, 241);
    border-radius: 10px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.addTask {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: left;
    align-self: center;
    padding: 10px;
}

.addList {
    font-size: 18px;
    font-weight: 600;
}

#button1 {
    align-items: center;
    margin: 25px auto;
}

#checkboxes {
    margin-top: 20px;
}

.edit-delete-button {
    width: 20px;

}
.edit-delete-button-container{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.list-box:hover {
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.back-arrow {
    padding: 20px 0px 0px 20px;
}

.addTask {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: left;
    align-self: center;
    padding: 10px;
}

.addList {
    font-size: 18px;
    font-weight: 600;
}

#button1 {
    align-items: center;
    margin: 25px auto;
}

#checkboxes {
    margin-top: 20px;
}

.edit-delete-button {
    width: 20px;

}
.edit-delete-button-container{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.list-box:hover {
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.back-arrow {
    padding: 20px 0px 0px 20px;
}
#filter-select{
    margin: 10px;
}
.homeName {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: white;
    padding: 30px 30px 0px 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: white;
    font-weight: 900;
    text-align: center;

}

.authbuttons{
    display: flex;
    justify-content: center;
    margin: 15%;
    flex-direction: column;
}
.buttons-box{
    background-color: white;
    border-radius: 27px;
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 10%;
    padding: 10px;
    box-shadow: 1px 3px grey;

}

.home-page{
    background-color: #8cabf1;
    position:absolute;
    height: 100%;
    width: 100%;

}

.sign-in-up-h1s{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white;
    padding: 30px 30px 0px 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
}

.front-page-buttons{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #8cabf1;
    border-color: #8cabf1;
    border-radius: 4px;
    padding: 4px;
}

.authOption{
    text-align: center;
}
.authitems{
    margin-bottom: 10px;
}
.wrongPass{
    font-family: 'Montserrat', sans-serif;
    color: red;
    text-align: center;
    font-weight: bold;
    margin-left: 15%;
    margin-right: 15%;
}
.input{
    margin-right: 10px;
}

.sharing{
    margin-bottom: 5px;
}
.completed-button{
    background-color: white;
    padding: 5px 10px 5px 10px;

}
